<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <!--
        File này chứa các macro xacro để tính toán quán tính cho các hình học cơ bản trong robot (hình cầu, hộp, trụ).
        Các macro này giúp bạn dễ dàng khai báo khối lượng và ma trận quán tính cho các liên kết trong mô hình URDF.
        - inertial_sphere: Tính quán tính cho hình cầu.
        - inertial_box: Tính quán tính cho hình hộp chữ nhật.
        - inertial_cylinder: Tính quán tính cho hình trụ.
        Công thức tham khảo từ: https://en.wikipedia.org/wiki/List_of_moments_of_inertia
        Bạn có thể sử dụng các macro này để khai báo thuộc tính <inertial> cho từng link trong robot.
        Tham số *origin cho phép bạn truyền vào thuộc tính origin nếu cần.
    -->

    <!-- Specify some standard inertial calculations https://en.wikipedia.org/wiki/List_of_moments_of_inertia -->
    <!-- These make use of xacro's mathematical functionality -->

    <!--
        Macro tính quán tính cho hình cầu
        mass: khối lượng
        radius: bán kính
        *origin: (tùy chọn) gốc quán tính
    -->
    <xacro:macro name="inertial_sphere" params="mass radius *origin">
        <inertial>
            <xacro:insert_block name="origin"/>
            <mass value="${mass}" />
            <inertia ixx="${(2/5) * mass * (radius*radius)}" ixy="0.0" ixz="0.0"
                    iyy="${(2/5) * mass * (radius*radius)}" iyz="0.0"
                    izz="${(2/5) * mass * (radius*radius)}" />
        </inertial>
    </xacro:macro>

    <!--
        Macro tính quán tính cho hình hộp chữ nhật
        mass: khối lượng
        x, y, z: các kích thước của hộp
        *origin: (tùy chọn) gốc quán tính
    -->
    <xacro:macro name="inertial_box" params="mass x y z *origin">
        <inertial>
            <xacro:insert_block name="origin"/>
            <mass value="${mass}" />
            <inertia ixx="${(1/12) * mass * (y*y+z*z)}" ixy="0.0" ixz="0.0"
                    iyy="${(1/12) * mass * (x*x+z*z)}" iyz="0.0"
                    izz="${(1/12) * mass * (x*x+y*y)}" />
        </inertial>
    </xacro:macro>

    <!--
        Macro tính quán tính cho hình trụ
        mass: khối lượng
        length: chiều dài trụ
        radius: bán kính trụ
        *origin: (tùy chọn) gốc quán tính
    -->
    <xacro:macro name="inertial_cylinder" params="mass length radius *origin">
        <inertial>
            <xacro:insert_block name="origin"/>
            <mass value="${mass}" />
            <inertia ixx="${(1/12) * mass * (3*radius*radius + length*length)}" ixy="0.0" ixz="0.0"
                    iyy="${(1/12) * mass * (3*radius*radius + length*length)}" iyz="0.0"
                    izz="${(1/2) * mass * (radius*radius)}" />
        </inertial>
    </xacro:macro>

</robot>